@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@font-face {
    font-family: Gotham; 
    src: url(./Fontes/Gotham-Medium.otf) format('OpenType'); 

    

}

*{
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.titulo__destaque{
    color: rgb(255, 255, 255);
    
}

.titulo__destaque__dois {
    color: rgb(255, 253, 208);
}

.negrito__paragrafo {
    color: rgb(0, 255, 170);
}

.apresentacao {
    margin: 10% 20%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 459px;
    height: 325px; ;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo__titulo {
    font-size: 50px;
}

.subtitulo {
    font-size: 30px;
    font-family: Gotham;
    font-weight: 100;
}

.apresentacao__conteudo__paragrafo {
    font-size: 15px;
    font-family: 'Belanosima', sans-serif;
}

.apresentacao__conteudo__link {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: rgb(0, 0, 0);
    width: 370px;
    text-align: center;
    border: 2px solid rgb(255, 253, 208);
    border-radius: 16px;
    font-size: 30px;
    padding: 15px 0;
    text-decoration: none;
    color: rgb(255, 253, 208);
    /*transition: transform 0.3s ease-in-out;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Gotham;
    
    
    
}

.apresentacao__links__link:hover {
    box-shadow: 0px 0px 35px 4px rgb(255, 253, 208),
    inset 0px 0px 10px 2px rgb(255, 253, 208);
    font-size: 28px;
    

}


@keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .apresentacao__links__link {
    animation: slideIn 0.5s ease-in-out forwards;
  }

  
/*.apresentacao__links__link:hover {
    transform: scale(1.1);
  } */
  
  
